.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 0 1rem;
}

@media screen and (max-width: 530px) {
  .container {
    margin: 1.1rem auto;
  }
}

h1 {
  font-weight: 800;
  color: transparent;
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    120deg,
    rgb(141, 136, 251) 0%,
    rgb(96, 199, 247) 20%,
    rgb(55, 221, 91) 40%,
    rgb(225, 207, 17) 60%,
    rgb(244, 177, 54) 80%,
    rgba(255, 0, 0, 1) 100%
  );
  -webkit-background-clip: text;
}

.name-heading h1 {
  margin: 0;
  display: inline;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.name-heading h1 span {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: lowercase;
}
